.portfolio {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1980px;
  min-height: 4400px;
  position: relative;
}

.portfolio .background {
  position: absolute;
  top: 102px;
  left: 0;
  width: 1980px;
  height: 4298px;
}

.portfolio .gradient {
  position: absolute;
  top: 2580px;
  left: 858px;
  width: 642px;
  height: 720px;
}

.portfolio .img {
  position: absolute;
  top: 1022px;
  left: 739px;
  width: 625px;
  height: 700px;
}

.portfolio .gradient-2 {
  position: absolute;
  top: 2571px;
  left: 1084px;
  width: 625px;
  height: 700px;
}

.portfolio .gradient-3 {
  position: absolute;
  top: 3166px;
  left: 274px;
  width: 572px;
  height: 641px;
}

.portfolio .gradient-4 {
  position: absolute;
  top: 220px;
  left: 385px;
  width: 385px;
  height: 431px;
}

.portfolio .div {
  position: absolute;
  top: 2762px;
  left: 1047px;
  width: 583px;
  height: 341px;
  display: flex;
  gap: 389px;
  background-image: url(https://c.animaapp.com/mizymnitV2lWbt/img/screenshot-2022-09-30-at-10-49-1.png);
  background-size: 100% 100%;
}

.portfolio .screenshot {
  margin-top: -268px;
  width: 568px;
  height: 354px;
  margin-left: -957px;
}

.portfolio .screenshot-2 {
  width: 582.88px;
  height: 341px;
}

.portfolio .div-2 {
  position: absolute;
  top: 3330px;
  left: 460px;
  width: 583px;
  height: 341px;
  background-image: url(https://c.animaapp.com/mizymnitV2lWbt/img/screenshot-2022-09-30-at-10-49-1-1.png);
  background-size: 100% 100%;
}

.portfolio .screenshot-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 583px;
  height: 341px;
}

.portfolio .screenshot-4 {
  position: absolute;
  top: 31px;
  left: 0;
  width: 535px;
  height: 310px;
}

.portfolio .text-wrapper {
  position: absolute;
  top: 1066px;
  left: -3977px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0.44px;
  line-height: normal;
}

.portfolio .i-m-a-software {
  position: absolute;
  top: 301px;
  left: -6366px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poor Story", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1.00px;
  line-height: normal;
}

.portfolio .i-m-a-software-2 {
  top: 627px;
  left: -5981px;
  height: 60px;
  font-family: "Poetsen One", Helvetica;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1.00px;
  line-height: normal;
}

.portfolio .linkedin-behance {
  position: absolute;
  top: 1884px;
  left: -4592px;
  height: 648px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0.80px;
  line-height: normal;
}

.portfolio .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1980px;
  height: 138px;
}

.portfolio .text-wrapper-2 {
  top: 43px;
  left: 1111px;
  width: 66px;
  height: 27px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: normal;
}

.portfolio .text-wrapper-3 {
  position: absolute;
  top: 43px;
  left: 1345px;
  width: 68px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.40px;
  line-height: normal;
}

.portfolio .text-wrapper-4 {
  position: absolute;
  top: 43px;
  left: 1581px;
  width: 49px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.40px;
  line-height: normal;
}

.portfolio .i-m-a-software-3 {
  top: 661px;
  left: 474px;
  width: 674px;
  height: 90px;
  font-family: "Preahvihear", Helvetica;
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1.00px;
  line-height: normal;
}

.portfolio .judges-a-book-by-its {
  position: absolute;
  top: 380px;
  left: 727px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 50px;
  letter-spacing: 1.00px;
  line-height: 35.1px;
}

.portfolio .span {
  color: #ffffff;
  letter-spacing: 0.50px;
}

.portfolio .text-wrapper-5 {
  color: #7127ba;
  letter-spacing: 0.50px;
}

.portfolio .text-wrapper-6 {
  position: absolute;
  top: 352px;
  left: 727px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.34px;
  line-height: normal;
  text-decoration: underline;
}

.portfolio .p {
  position: absolute;
  top: 509px;
  left: 727px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.22px;
  line-height: normal;
}

.portfolio .a-self-taught-UI-UX {
  position: absolute;
  top: 845px;
  left: 477px;
  width: 892px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0.44px;
  line-height: normal;
}

.portfolio .text-wrapper-7 {
  position: absolute;
  top: 1135px;
  left: 468px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0.80px;
  line-height: normal;
}

.portfolio .hello-i-am-ibrahim {
  position: absolute;
  top: 246px;
  left: 707px;
  width: 245px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 19px;
  text-align: center;
  line-height: 19px;
  white-space: nowrap;
}

.portfolio .text-wrapper-8 {
  color: #ffffff;
  letter-spacing: 0;
  line-height: 0.1px;
}

.portfolio .text-wrapper-9 {
  color: #7127ba;
  letter-spacing: -0.10px;
  line-height: 97px;
}

.portfolio .arrow {
  position: absolute;
  top: 242px;
  left: 618px;
  width: 92px;
  height: 82px;
  display: flex;
  transform: rotate(-148.29deg);
}

.portfolio .vector {
  margin-top: 17.0px;
  width: 78.34px;
  height: 47.82px;
  margin-left: 6.7px;
  transform: rotate(148.29deg);
}

.portfolio .ellipse {
  position: absolute;
  top: 442px;
  left: 877px;
  width: 188px;
  height: 60px;
}

.portfolio .text-wrapper-10 {
  top: 3905px;
  left: 458px;
  height: 45px;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: normal;
}

.portfolio .i-m-currently {
  position: absolute;
  top: 4023px;
  left: 458px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: normal;
}

.portfolio .logo {
  position: absolute;
  top: 35px;
  left: 497px;
  width: 35px;
  height: 43px;
}

.portfolio .designation {
  position: absolute;
  top: 737px;
  left: 474px;
  width: 575px;
  height: 38px;
}

.portfolio .currently-i-m-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 573px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 21px;
  letter-spacing: 0.42px;
  line-height: normal;
}

.portfolio .text-wrapper-11 {
  color: #ffffff;
  letter-spacing: 0.09px;
}

.portfolio .text-wrapper-12 {
  color: #1877f2;
  letter-spacing: 0.09px;
}

.portfolio .group {
  position: absolute;
  top: 8px;
  left: 429px;
  width: 20px;
  height: 21px;
}

.portfolio .experience {
  top: 1251px;
  left: 463px;
  height: 193px;
  position: absolute;
  width: 574px;
}

.portfolio .rectangle {
  top: 0;
  width: 570px;
  height: 193px;
  border-radius: 15px;
  box-shadow: 4px 7px 26px #0000001f;
  background: linear-gradient(
    163deg,
    rgba(19, 4, 40, 1) 7%,
    rgba(37, 16, 67, 1) 34%,
    rgba(56, 18, 109, 1) 57%,
    rgba(38, 16, 69, 1) 85%,
    rgba(25, 6, 52, 1) 100%
  );
  position: absolute;
  left: 0;
}

.portfolio .mask-group {
  position: absolute;
  top: -4px;
  left: -22px;
  width: 592px;
  height: 172px;
}

.portfolio .text-wrapper-13 {
  position: absolute;
  top: 46px;
  left: 197px;
  width: 256px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.portfolio .take-your-client {
  position: absolute;
  top: 81px;
  left: 198px;
  width: 232px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10.5px;
}

.portfolio .learn-more {
  top: 112px;
  left: 195px;
  position: absolute;
  width: 121px;
  height: 33px;
}

.portfolio .rectangle-2 {
  top: 0;
  width: 119px;
  height: 33px;
  position: absolute;
  left: 0;
}

.portfolio .text-wrapper-14 {
  position: absolute;
  top: 10px;
  left: 19px;
  width: 77px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.portfolio .group-2 {
  position: absolute;
  top: 36px;
  left: 50px;
  width: 122px;
  height: 115px;
}

.portfolio .mask-group-2 {
  position: absolute;
  top: 2762px;
  left: 1047px;
  width: 583px;
  height: 341px;
  display: flex;
  gap: -538.9px;
}

.portfolio .div-3 {
  width: 582.88px;
  display: flex;
  gap: 389px;
  background-image: url(https://c.animaapp.com/mizymnitV2lWbt/img/screenshot-2022-09-30-at-10-49-1-2.png);
  background-size: 100% 100%;
}

.portfolio .screenshot-5 {
  margin-top: 30px;
  width: 538.88px;
  height: 311px;
}

.portfolio .experience-2 {
  top: 1461px;
  left: 463px;
  height: 196px;
  position: absolute;
  width: 574px;
}

.portfolio .rectangle-3 {
  top: 3px;
  width: 570px;
  height: 193px;
  background-color: #2b114f;
  border-radius: 15px;
  box-shadow: 4px 7px 26px #0000001f;
  position: absolute;
  left: 0;
}

.portfolio .rectangle-4 {
  top: 3px;
  width: 570px;
  height: 193px;
  border-radius: 15px;
  box-shadow: 4px 7px 26px #0000001f;
  background: linear-gradient(
    130deg,
    rgba(19, 4, 40, 1) 7%,
    rgba(37, 16, 67, 1) 34%,
    rgba(56, 18, 109, 1) 57%,
    rgba(38, 16, 69, 1) 85%,
    rgba(25, 6, 52, 1) 100%
  );
  position: absolute;
  left: 0;
}

.portfolio .text-wrapper-15 {
  top: 50px;
  left: 202px;
  position: absolute;
  width: 256px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.portfolio .take-your-client-2 {
  top: 85px;
  left: 203px;
  position: absolute;
  width: 232px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10.5px;
}

.portfolio .learn-more-2 {
  top: 116px;
  left: 200px;
  position: absolute;
  width: 121px;
  height: 33px;
}

.portfolio .group-3 {
  position: absolute;
  top: 40px;
  left: 56px;
  width: 120px;
  height: 117px;
}

.portfolio .experience-3 {
  top: 1458px;
  left: 1055px;
  height: 196px;
  position: absolute;
  width: 574px;
}

.portfolio .rectangle-5 {
  top: 3px;
  background: linear-gradient(
    176deg,
    rgba(19, 4, 40, 1) 7%,
    rgba(37, 16, 67, 1) 34%,
    rgba(56, 18, 109, 1) 57%,
    rgba(38, 16, 69, 1) 85%,
    rgba(25, 6, 52, 1) 100%
  );
  position: absolute;
  left: 0;
  width: 570px;
  height: 193px;
  border-radius: 15px;
  box-shadow: 4px 7px 26px #0000001f;
}

.portfolio .text-wrapper-16 {
  top: 45px;
  left: 197px;
  position: absolute;
  width: 256px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.portfolio .take-your-client-3 {
  top: 80px;
  left: 198px;
  position: absolute;
  width: 232px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10.5px;
}

.portfolio .learn-more-3 {
  top: 111px;
  left: 195px;
  position: absolute;
  width: 121px;
  height: 33px;
}

.portfolio .icons {
  position: absolute;
  top: 49px;
  left: 61px;
  width: 114px;
  height: 97px;
}

.portfolio .card {
  top: 2886px;
  left: 460px;
  position: absolute;
  width: 669px;
  height: 165px;
}

.portfolio .portfolio-text {
  position: absolute;
  top: 2786px;
  left: 462px;
  width: 628px;
  height: 333px;
}

.portfolio .a-web-app-for {
  position: absolute;
  top: 126px;
  left: 32px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ccd6f6;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .text-wrapper-17 {
  position: absolute;
  top: 19px;
  left: 0;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ccd6f6;
  font-size: 34px;
  letter-spacing: 0.68px;
  line-height: normal;
}

.portfolio .featured-project {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #9757d3;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.portfolio .icon-park-solid {
  position: absolute;
  top: 302px;
  left: 73px;
  width: 31px;
  height: 31px;
}

.portfolio .icon-park-solid-2 {
  top: 301px;
  left: 25px;
  position: absolute;
  width: 31px;
  height: 31px;
}

.portfolio .portfolio-text-2 {
  position: absolute;
  top: 3337px;
  left: 961px;
  width: 675px;
  height: 329px;
}

.portfolio .card-2 {
  top: 96px;
  left: 0;
  position: absolute;
  width: 669px;
  height: 165px;
}

.portfolio .a-web-app-for-2 {
  position: absolute;
  top: 122px;
  left: 34px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ccd6f6;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .text-wrapper-18 {
  position: absolute;
  top: 19px;
  left: 382px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ccd6f6;
  font-size: 34px;
  letter-spacing: 0.68px;
  line-height: normal;
}

.portfolio .featured-project-2 {
  position: absolute;
  top: 0;
  left: 523px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #9757d3;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.portfolio .icon-park-solid-3 {
  top: 298px;
  left: 596px;
  position: absolute;
  width: 31px;
  height: 31px;
}

.portfolio .icon-park-solid-4 {
  top: 297px;
  left: 548px;
  position: absolute;
  width: 31px;
  height: 31px;
}

.portfolio .skills {
  position: absolute;
  top: 1817px;
  left: 598px;
  width: 895px;
  height: 754px;
  background-image: url(https://c.animaapp.com/mizymnitV2lWbt/img/group-1910.png);
  background-size: 100% 100%;
}

.portfolio .social-icons {
  position: absolute;
  top: 4162px;
  left: 458px;
  width: 110px;
  height: 18px;
}

.portfolio .me {
  position: absolute;
  top: 306px;
  left: 461px;
  width: 258px;
  height: 259px;
  display: flex;
  background-image: url(https://c.animaapp.com/mizymnitV2lWbt/img/ellipse-3.png);
  background-size: 100% 100%;
}

.portfolio .image {
  margin-top: 5.7px;
  width: 165px;
  height: 223px;
  margin-left: 48px;
  object-fit: cover;
}

.portfolio .experience-4 {
  top: 1251px;
  left: 1053px;
  height: 193px;
  position: absolute;
  width: 574px;
}

.portfolio .rectangle-6 {
  top: 0;
  background: linear-gradient(
    130deg,
    rgba(19, 4, 40, 1) 7%,
    rgba(37, 16, 67, 1) 34%,
    rgba(56, 18, 109, 1) 57%,
    rgba(38, 16, 69, 1) 85%,
    rgba(25, 6, 52, 1) 100%
  );
  position: absolute;
  left: 0;
  width: 570px;
  height: 193px;
  border-radius: 15px;
  box-shadow: 4px 7px 26px #0000001f;
}

.portfolio .text-wrapper-19 {
  top: 46px;
  left: 195px;
  position: absolute;
  width: 256px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.portfolio .take-your-client-4 {
  top: 81px;
  left: 196px;
  position: absolute;
  width: 232px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10.5px;
}

.portfolio .learn-more-4 {
  top: 112px;
  left: 193px;
  position: absolute;
  width: 121px;
  height: 33px;
}

.portfolio .group-4 {
  position: absolute;
  top: 49px;
  left: 59px;
  width: 120px;
  height: 98px;
}
